@font-face {
    font-family: "Inria Sans";
    src: url("/media/fonts/InriaSans-Regular.ttf");
}

html {
    overflow-x: hidden;
}

body {
    background-color: rgb(38, 38, 38);

    padding: 0 0;
    margin: 0;

    
    font-family: Inria-Sans;
    font-weight: normal;
    font-style: normal;

    color: white;
}

img {
    user-select: none;
}

/* MISC CLASSES*/


/* TOPBAR */

#topbar {
    width: 100vw;
    height: 10vh;

    background-color: rgb(55, 55, 55, 1);

    position: fixed;

    filter: drop-shadow(rgb(27, 27, 27) 0px 4px 4px);

    z-index: 1000;
}

#topbar-school-logo {
    margin-left: min(20px, 1vw);

    height: 90%;

    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

#topbar-search-container {
    background-color: rgb(0, 0, 0);

    width: 50%;
    height: 45%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 100px;

    filter: drop-shadow(rgb(27, 27, 27) 0px 4px 4px);

    transition: all .3s cubic-bezier(.47,1.64,.41,.8);
}

#topbar-search-icon {
    margin-left: min(10px, .3vw);

    height: 90%;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

#topbar-search-input {
    padding: 0;

    color: white;
    text-align: center;
    font-size: min(2.9vh, 2.9vw);
    

    background-color: rgba(0, 0, 0, 0);

    border: none;

    width: 80%;
    height: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#topbar-search-input:focus {
    outline: none;
}

#topbar-menu-logo {
    float: right;

    margin-right: min(10px, .3vw);

    height: 55%;

    position: float;
    top: 50%;
    transform: translate(0,35%);
}




/*TOP IMAGE*/
#top-image-container {
    padding-top: 14vh;

    width: 100vw;
    height: 20vw;
}

#top-image-image {

    width: 85vw;

    border-radius: 2.5vw;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.top-image-arrow {
    width: 4vw;
    
    margin-left: -.1vw;
    margin-top: -.2vw;
}

.top-image-arrow-container {
    border-radius: 100px;

    background-color: rgb(75, 75, 75);

    margin-top: 7vw;

    width: 3.5vw;
    height: 3.5vw;

    display: inline-block;
}

.top-image-arrow-left {
    rotate: 180deg;
    margin-left: 1.5vw;
}

.top-image-arrow-right {
    float: right;
    margin-right: 1.5vw;
}

/* AWARDS */
#awards-container {
    width: 100vw;
    height: 20vh;
}

#awards-list {
    margin: 0;
    padding: 0;

    list-style-type: none;

    overflow: hidden;

    width: fit-content;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.awards-list-item {
    float: left;

    padding-right: 2vw;
}

.awards-list-item > img {
    display: block;
    height: 10vw;

    border-radius: 1.5vw;
}