@font-face {
    font-family: "Inria Sans";
    src: url("/media/fonts/InriaSans-Regular.ttf");
}

html {
    overflow-x: hidden;
}

body {
    background-color: rgb(38, 38, 38);

    padding: 0 0;
    margin: 0;

    
    font-family: Inria-Sans;
    font-weight: normal;
    font-style: normal;

    color: white;
}


/* TOPBAR */

#topbar {
    width: 100vw;
    height: 10vh;

    background-color: rgba(55, 55, 55, 1);

    position: fixed;

    filter: drop-shadow(rgb(27, 27, 27) 0px 4px 4px);
}

#topbar-school-logo {
    margin-left: min(20px, 1vw);

    height: 90%;

    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

#topbar-search-container {
    background-color: rgb(0, 0, 0);

    width: 50%;
    height: 45%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 100px;

    filter: drop-shadow(rgb(27, 27, 27) 0px 4px 4px);

    transition: all .3s cubic-bezier(.47,1.64,.41,.8);
}

#topbar-search-icon {
    margin-left: min(10px, .3vw);

    height: 90%;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

#topbar-search-input {
    padding: 0;

    color: white;
    text-align: center;
    font-size: min(2.9vh, 2.9vw);
    

    background-color: rgba(0, 0, 0, 0);

    border: none;

    width: 80%;
    height: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#topbar-search-input:focus {
    outline: none;
}

#topbar-menu-logo {
    float: right;

    margin-right: min(10px, .3vw);

    height: 70%;

    position: float;
    top: 50%;
    transform: translate(0,20%);
}




/*TOP IMAGE*/
#top-image-container {
    padding-top: 14vh;

    background-color: wheat;

    width: 100vw;
    height: fit-content;
}

#top-image-image {

    width: 100vw;

    position: absolute;
    top: 50vh;
    transform: translate(0%, -40vh);
}